<div class="flex flex-col gap-8">
  <div class="flex items-center justify-between">
    <h1 class="text-4xl font-bold">Advice</h1>
  </div>
  <div class="p-4 transition-all bg-white hover:shadow hover:-translate-y-1 rounded-xl">
    <div class="text-lg">
    🤡 <span class="ml-2"><%= @prompt %></span>
    </div>
    <div class="mt-2 text-lg">
    🤖 <span class="ml-2"><%= @result %></span>
    </div>
  </div>
  <div class="mt-5 text-sm text-gray-500">
    <span><%= link_to 'See old chats', all_responses_discovers_path %></span>
  </div>
</div>
