<div class="w-full">
  <div class="flex items-center justify-between">
    <h1 class="text-4xl font-bold">My Podcasts</h1>
  </div>

  <div id="podcasts" class="grid min-w-full grid-cols-6 gap-4">
    <%= render @podcasts %>
  </div> 
</div>
