<div class="w-full">
  <div class="flex items-center justify-between">
    <h1 class="text-4xl font-bold">My Podcasts</h1>
  </div>

  <div id="podcasts" class="min-w-full">
    <%= render @podcasts %>
  </div>
  
  <div id="pagination">
    <%== pagy_next_link(@pagy, link_extra: 'data-controller="infinite-scroll"') unless @pagy.page == @pagy.last %>
  </div>  
</div>