<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Horay! You have a new follower</h1>
    <p><%= @follower.nickname %> starts to follow you.</p>
    
    <p><%= link_to 'Check it', followers_user_url(@followed) %></p>
  </body>
</html>