<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Horay, you have a new comment</h1>
    <p><%= @comment.body %></p>
    <p>Written by <%= @comment.user.nickname %></p>
  </body>
</html>