<div class="w-full">
  <div class="flex items-center justify-between mb-8">
	  <h1 class="text-4xl font-bold">Episodes</h1>
  </div>

  <div class="mx-auto mt-12 max-w-7xl">
    <%= render "episodes", episodes: @episodes %>
  </div>
</div>
