<div class="flex flex-col w-full gap-8">
  <div class="flex items-center justify-between">
    <h1 class="text-4xl font-bold">Following</h1>
  </div>

  <% if @users.empty? %>
    <div class="flex flex-col items-center justify-center p-12 bg-white rounded-xl">
      <p class="text-gray-500">You don't follow no one 🧐</p>
      <%= image_tag "not-found.svg", class:"my-12" %>
      <%=  link_to 'Find some cool people 🥳', users_path, class:"bg-primary text-white rounded-full px-6 py-2" %>
    </div>
  <% end %>

  <div class="grid grid-cols-2 gap-4 lg:grid-cols-4">
    <%= render @users %>
  </div>
</div>
