<div class="w-full">
  <div class="flex items-center justify-between">
    <h1 class="text-4xl font-bold">Community</h1>     
  </div>

  <div id="users" class="grid min-w-full grid-cols-6 gap-4">
    <%= render @users %>
  </div> 
</div>
