<div class="w-full">
  <div class="flex items-center justify-between">
    <h1 class="text-4xl font-bold"><%= @user.nickname %>'s Podcasts</h1> 
    <%= render partial: 'users/follower', locals: { user: @user } %>
  </div>

  <div id="podcasts" class="grid min-w-full grid-cols-6 gap-4">
    <%= render @podcasts %>
  </div> 
</div>
