<div class="text-gray-700 bg-white body-font">
    <div class="container flex flex-col items-center px-8 py-8 mx-auto max-w-7xl sm:flex-row">
        <svg width="30" height="30" viewBox="0 0 142 278" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M41.0774 59.1625C41.0808 60.4778 41.3431 61.7798 41.8495 62.9937C42.356 64.2077 43.0967 65.31 44.0293 66.2377C44.9617 67.1655 46.0678 67.9005 47.2845 68.4007C48.5011 68.9009 49.8042 69.1566 51.1196 69.1531C69.7158 69.1043 87.5696 76.4448 100.754 89.5597C113.938 102.674 121.372 120.49 121.42 139.086C121.469 157.682 114.129 175.536 101.014 188.72C87.8989 201.904 70.0839 209.338 51.4877 209.387C48.8486 209.42 46.3293 210.493 44.4773 212.374C42.6253 214.254 41.5901 216.79 41.5971 219.43C41.604 222.069 42.6524 224.599 44.5143 226.469C46.3762 228.34 48.9011 229.4 51.5403 229.42C63.379 229.388 75.0955 227.026 86.0211 222.467C96.9467 217.907 106.867 211.241 115.216 202.848C123.566 194.454 130.18 184.499 134.682 173.55C139.183 162.6 141.484 150.872 141.453 139.033C141.422 127.194 139.06 115.478 134.501 104.552C129.941 93.6269 123.275 83.7063 114.882 75.3571C106.489 67.0079 96.5332 60.3936 85.5838 55.8918C74.6345 51.3901 62.9057 49.0891 51.0671 49.1202C48.4107 49.1272 45.8658 50.1892 43.9924 52.0724C42.119 53.9557 41.0704 56.5061 41.0774 59.1625Z" fill="url(#paint0_linear_3_22)"/>
        <path d="M21.5913 267.562L21.3599 179.383C30.033 185.889 40.5922 189.387 51.4351 189.348C64.7181 189.313 77.4431 184.002 86.8109 174.586C96.1787 165.168 101.422 152.415 101.387 139.132C101.352 125.85 96.0421 113.125 86.625 103.757C77.2079 94.3893 64.4552 89.1462 51.1722 89.1811C48.5155 89.188 45.9705 90.25 44.0968 92.1335C42.2233 94.0171 41.1746 96.5676 41.1815 99.2243C41.1885 101.881 42.2506 104.427 44.134 106.3C46.0175 108.174 48.5681 109.222 51.2248 109.215C57.1682 109.199 62.9827 110.946 67.9331 114.235C72.8837 117.524 76.7477 122.207 79.0367 127.692C81.3257 133.177 81.9368 139.217 80.7927 145.049C79.6486 150.882 76.8007 156.244 72.6093 160.457C68.4178 164.671 63.071 167.547 57.2448 168.722C51.4188 169.897 45.3751 169.318 39.8786 167.058C34.3816 164.797 29.6775 160.959 26.3626 156.025C23.0476 151.092 21.2704 145.287 21.2548 139.344L20.9183 11.1352C20.9278 9.81136 20.6753 8.49871 20.1741 7.27316C19.6739 6.0476 18.935 4.93347 18.0015 3.99512C17.067 3.05679 15.9571 2.31287 14.7337 1.8064C13.5104 1.29993 12.1987 1.04096 10.8747 1.04443C9.55174 1.04791 8.24143 1.31376 7.02077 1.82665C5.80011 2.33953 4.69407 3.08927 3.76454 4.0325C2.83601 4.97573 2.10296 6.09372 1.60918 7.32189C1.1144 8.55006 0.868841 9.86402 0.885316 11.1878L1.55841 267.615C1.59134 270.254 2.66495 272.773 4.54582 274.625C6.42569 276.477 8.96143 277.513 11.6004 277.506C14.2404 277.499 16.7707 276.45 18.6408 274.588C20.5119 272.726 21.5723 270.201 21.5913 267.562Z" fill="url(#paint1_linear_3_22)"/>
        <defs>
        <linearGradient id="paint0_linear_3_22" x1="91.1339" y1="49.015" x2="91.6072" y2="229.314" gradientUnits="userSpaceOnUse">
        <stop stop-color="#DD1B1B"/>
        <stop offset="0.243" stop-color="#DE1D5B"/>
        <stop offset="0.495" stop-color="#E2254F"/>
        <stop offset="0.751" stop-color="#EA313A"/>
        <stop offset="1" stop-color="#F4431F"/>
        </linearGradient>
        <linearGradient id="paint1_linear_3_22" x1="50.9411" y1="0.939263" x2="51.6668" y2="277.4" gradientUnits="userSpaceOnUse">
        <stop stop-color="#1B69DD"/>
        <stop offset="0.243" stop-color="#661DDE"/>
        <stop offset="0.495" stop-color="#8F25E2"/>
        <stop offset="0.751" stop-color="#4B31EA"/>
        <stop offset="1" stop-color="#561FF4"/>
        </linearGradient>
        </defs>
        </svg>      
        <%= link_to "Podiscover", root_path, class: "text-xl font-black leading-none text-gray-900 select-none logo" %>
        <p class="mt-4 text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l sm:border-gray-200 sm:mt-0">© 2021 Podiscover - Discover new Podcasts
        </p>
        <span class="inline-flex justify-center mt-4 space-x-5 sm:ml-auto sm:mt-0 sm:justify-start">
            <a href="#" class="text-gray-400 hover:text-gray-500">
                <span class="sr-only">Facebook</span>
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                    <path fill-rule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z" clip-rule="evenodd"></path>
                </svg>
            </a>

            <a href="#" class="text-gray-400 hover:text-gray-500">
                <span class="sr-only">Instagram</span>
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                    <path fill-rule="evenodd" d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z" clip-rule="evenodd"></path>
                </svg>
            </a>

            <a href="#" class="text-gray-400 hover:text-gray-500">
                <span class="sr-only">Twitter</span>
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"></path>
                </svg>
            </a>
        </span>
    </div>
</div>
