<div class="text-gray-700 bg-white body-font">
    <div class="container flex flex-col items-center px-8 py-8 mx-auto max-w-7xl sm:flex-row">
        <svg width="30" height="30" viewBox="0 0 500 500" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M197.86 70.4884C197.866 72.7745 198.322 75.0376 199.202 77.1475C200.082 79.2576 201.37 81.1736 202.99 82.786C204.611 84.3987 206.534 85.6762 208.648 86.5456C210.763 87.4151 213.028 87.8595 215.314 87.8534C247.637 87.7686 278.67 100.527 301.585 123.324C324.501 146.118 337.422 177.084 337.506 209.407C337.591 241.729 324.833 272.762 302.037 295.678C279.241 318.593 248.277 331.515 215.954 331.6C211.367 331.657 206.988 333.522 203.769 336.792C200.55 340.059 198.751 344.467 198.763 349.056C198.775 353.643 200.597 358.04 203.833 361.291C207.07 364.543 211.458 366.385 216.045 366.42C236.623 366.364 256.987 362.259 275.978 354.335C294.969 346.409 312.212 334.822 326.723 320.234C341.237 305.644 352.733 288.341 360.558 269.31C368.381 250.277 372.381 229.892 372.327 209.315C372.273 188.737 368.167 168.373 360.243 149.382C352.317 130.393 340.731 113.149 326.143 98.6368C311.555 84.1251 294.25 72.6273 275.219 64.804C256.188 56.9794 235.801 52.9799 215.223 53.034C210.606 53.0461 206.183 54.892 202.927 58.1653C199.67 61.4387 197.848 65.8717 197.86 70.4889L197.86 70.4884Z" fill="url(#paint0_linear_105_8640)"/>
            <path d="M163.99 432.713L163.588 279.446C178.663 290.754 197.016 296.834 215.863 296.766C238.95 296.705 261.068 287.474 277.351 271.108C293.634 254.738 302.747 232.572 302.686 209.484C302.625 186.398 293.396 164.28 277.028 147.997C260.66 131.715 238.493 122.601 215.406 122.662C210.788 122.674 206.364 124.52 203.108 127.794C199.851 131.068 198.028 135.501 198.04 140.119C198.053 144.736 199.899 149.162 203.172 152.417C206.446 155.674 210.879 157.496 215.497 157.484C225.827 157.456 235.934 160.492 244.538 166.209C253.143 171.926 259.859 180.066 263.838 189.599C267.817 199.133 268.879 209.631 266.89 219.768C264.902 229.907 259.952 239.227 252.666 246.55C245.381 253.874 236.088 258.873 225.962 260.915C215.835 262.958 205.33 261.951 195.777 258.023C186.223 254.093 178.046 247.422 172.284 238.846C166.522 230.272 163.433 220.182 163.406 209.852L162.821 67.5391C162.838 65.2381 162.399 62.9564 161.528 60.8264C160.659 58.6961 159.374 56.7596 157.752 55.1287C156.127 53.4978 154.198 52.2048 152.072 51.3245C149.945 50.4442 147.666 49.994 145.364 50.0001C143.065 50.0061 140.787 50.4682 138.666 51.3597C136.544 52.2511 134.622 53.5542 133.006 55.1937C131.392 56.8331 130.118 58.7763 129.26 60.9111C128.4 63.0459 127.973 65.3296 128.001 67.6306L129.171 432.808C129.229 437.395 131.095 441.773 134.364 444.992C137.631 448.211 142.039 450.012 146.626 450C151.214 449.988 155.612 448.164 158.863 444.928C162.115 441.692 163.957 437.3 163.99 432.713Z" fill="url(#paint1_linear_105_8640)"/>
            <defs>
            <linearGradient id="paint0_linear_105_8640" x1="284.866" y1="52.8515" x2="285.688" y2="366.229" gradientUnits="userSpaceOnUse">
                <stop stop-color="#DD1B1B"/>
                <stop offset="0.243" stop-color="#DE1D5B"/>
                <stop offset="0.495" stop-color="#E2254F"/>
                <stop offset="0.751" stop-color="#EA313A"/>
                <stop offset="1" stop-color="#F4431F"/>
            </linearGradient>
            <linearGradient id="paint1_linear_105_8640" x1="215.005" y1="-30.711" x2="216.267" y2="449.816" gradientUnits="userSpaceOnUse">
                <stop stop-color="#1B69DD"/>
                <stop offset="0.243" stop-color="#661DDE"/>
                <stop offset="0.495" stop-color="#8F25E2"/>
                <stop offset="0.751" stop-color="#4B31EA"/>
                <stop offset="1" stop-color="#561FF4"/>
            </linearGradient>
            </defs>
        </svg>
        <%= link_to "Podiscover", root_path, class: "text-xl font-black leading-none text-gray-900 select-none logo" %>
        <p class="mt-4 text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l sm:border-gray-200 sm:mt-0">© 2022 Podiscover - Discover new Podcasts
        </p>
        <span class="inline-flex justify-center mt-4 space-x-5 sm:ml-auto sm:mt-0 sm:justify-start">
            <a href="https://twitter.com/podiscoverme" class="text-gray-400 hover:text-gray-500" target="_blank">
                <span class="sr-only">Twitter</span>
                <svg id="SvgjsSvg1041" width="30" height="30" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"><defs id="SvgjsDefs1042"></defs><g id="SvgjsG1043"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"><path d="M492 109.5c-17.4 7.7-36 12.9-55.6 15.3 20-12 35.4-31 42.6-53.6-18.7 11.1-39.4 19.2-61.5 23.5C399.8 75.8 374.6 64 346.8 64c-53.5 0-96.8 43.4-96.8 96.9 0 7.6.8 15 2.5 22.1-80.5-4-151.9-42.6-199.6-101.3-8.3 14.3-13.1 31-13.1 48.7 0 33.6 17.2 63.3 43.2 80.7-16-.4-31-4.8-44-12.1v1.2c0 47 33.4 86.1 77.7 95-8.1 2.2-16.7 3.4-25.5 3.4-6.2 0-12.3-.6-18.2-1.8 12.3 38.5 48.1 66.5 90.5 67.3-33.1 26-74.9 41.5-120.3 41.5-7.8 0-15.5-.5-23.1-1.4C62.8 432 113.7 448 168.3 448 346.6 448 444 300.3 444 172.2c0-4.2-.1-8.4-.3-12.5C462.6 146 479 129 492 109.5z" fill="#6b7280" class="color000 svgShape"></path></svg></g></svg>
            </a>
            <a href="https://www.linkedin.com/company/podiscoverme" class="text-gray-400 hover:text-gray-500" target="_blank">
                <span class="sr-only">Linkedin</span>
                <svg id="SvgjsSvg1026" width="30" height="30" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs"><defs id="SvgjsDefs1027"></defs><g id="SvgjsG1028"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"><path d="M417.2 64H96.8C79.3 64 64 76.6 64 93.9V415c0 17.4 15.3 32.9 32.8 32.9h320.3c17.6 0 30.8-15.6 30.8-32.9V93.9C448 76.6 434.7 64 417.2 64zM183 384h-55V213h55v171zm-25.6-197h-.4c-17.6 0-29-13.1-29-29.5 0-16.7 11.7-29.5 29.7-29.5s29 12.7 29.4 29.5c0 16.4-11.4 29.5-29.7 29.5zM384 384h-55v-93.5c0-22.4-8-37.7-27.9-37.7-15.2 0-24.2 10.3-28.2 20.3-1.5 3.6-1.9 8.5-1.9 13.5V384h-55V213h55v23.8c8-11.4 20.5-27.8 49.6-27.8 36.1 0 63.4 23.8 63.4 75.1V384z" fill="#6b7280" class="color000 svgShape"></path></svg></g></svg>
            </a>
        </span>
    </div>
</div>
