<div>
	<%= turbo_frame_tag "#{dom_id(episode)}_likes", class: "flex items-center" do %>
		<div>
			<% if action == 'like' %>
				<%= button_to image_tag("thumps_up.svg"), podcast_episode_like_path(episode.podcast, episode), method: :patch, data: { turbo_frame: '_top' }, class:"mx-auto mr-2" %>
			<% else %>
				<%= button_to image_tag("thumps_up_colored.svg"), podcast_episode_dislike_path(episode.podcast, episode), method: :patch, data: { turbo_frame: '_top' }, class:"mx-auto mr-2" %>
			<% end %>
		</div>
		<div><%= episode.likes %></div>
	<% end %>
</div>