<div class="w-full">
  <div class="flex items-center justify-between">
    <h1 class="text-4xl font-bold">Podcasts</h1>
  </div>

  <% if @subscriptions.empty? %>
    <div class="flex flex-col items-center justify-center">
      <p class="text-gray-500">😳 You need to follow some people to see their podcasts</p>
      <%= link_to 'Find some cool people 🥳', users_path %>
    </div>
  <% end %>

  <%= turbo_stream_from "subscriptions" %>
  <div id="subscriptions" class="grid min-w-full gap-4 2xl:grid-cols-6 xl:grid-cols-4 lg:grid-cols-2">    
  </div>
  
  <%= turbo_frame_tag "pagination", src: subscriptions_path(format: :turbo_stream), loading: :lazy do %>
    <div class="flex items-center justify-center mt-10">
      <% unless @subscriptions.empty? %>
        <%= image_tag "spinner.gif" %>
      <% end %>
    </div>
  <% end %>
</div>
