<div>
  <a href="#">
    <div class="grid content-around gap-4 mt-6 grid-row-2">
      <div>
        <% if false %>
          <img class="object-cover h-48 w-96" src="/assets/podiscover-a5056d04d12701214de0c2ddfc7d56e87a93b2cd5629be80a2edd9798c8ccdb3.png">
        <% else %>
          <img class="object-cover h-48 w-96" src="https://i.scdn.co/image/ab67656300005f1fb52c3bf660d86c5e8a38469f">
        <% end %>
      </div>
      <div class="text-lg">
        Design & Architecture
      </div>
    </div>
  </a>
</div>
