<div class="w-full">
  <div class="flex items-center justify-between">
    <h1 class="text-4xl font-bold">Categories</h1>
  </div>

  <div id="categories" class="grid min-w-full gap-4 2xl:grid-cols-6 xl:grid-cols-4 lg:grid-cols-2">
    <%= render @categories %>
  </div>
</div>