<div class="w-full">
  <div class="flex items-center justify-between">
    <h1 class="text-4xl font-bold">Podcasts</h1>
  </div>

  <% if @podcasts.empty? %>
    <div class="flex flex-col items-center justify-center">
      <p class="text-gray-500">😳 You need to follow some people to see their podcasts</p>
      <%= link_to 'Find some cool people 🥳', users_path %>
    </div>
  <% end %>

  <div id="podcasts" class="grid min-w-full grid-cols-6 gap-4">
    <%= render @podcasts %>
  </div> 
</div>
