<div class="w-full">
  <div class="flex items-center">
    <div class="w-3/4">
      <h1 class="text-4xl font-bold">Podcasts</h1>
    </div>
    <% if @podcasts.any? %>
      <div class="w-1/4">
        <%= render partial: "shared/search_form" %>
      </div>
    <% end %>
  </div>

  <% if @podcasts.any? %>
    <div id="podcasts" class="grid min-w-full gap-4 2xl:grid-cols-6 xl:grid-cols-4 lg:grid-cols-2">
      <% @podcasts.each do |podcast| %>
        <%= render partial: "search_result", locals: { podcast: podcast } %>
      <% end %>
    </div>
  <% else %>
    <div>
      <div>
        <p class="mt-5 mb-5 text-2xl ">No podcasts found</p>
        <%= render partial: "shared/search_form" %>
      </div>
    </div>
  <% end %>
</div>
